.nav {
    background-color: var(--light-bg);
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav li {
    margin: 0.625em;
    list-style-type: none;
    color: var(--unselected-color);
    font-family: Godo M;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.1em 0;
    display: block;
}

.nav li:hover {
    color: var(--hover-color);
}

.nav li.active {
    color: var(--selected-color);
    position: relative;
}

.nav li.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--underline-color);
    display: block;
    bottom: 0.1em;
}